<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.w3-theme {
    color: #fff !important;
    background-color: #151384 !important;
        padding: 10px;
}
.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 70px;
    bottom: 0;
    height: inherit;
}
</style>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
 /* background-color: black;*/
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  margin-left: 250px;
  margin-top: 43px;
  height: 100%;
}

/* Full-width input fields */
form-control {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #e1e1f1;
}
input[type=radio] {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #e1e1f1;
}
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  
  border: none;
  background: #e1e1f1;

}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>